[submodule "starganv2"]
	path = starganv2
	url = git@github.com:xuwangyin/stargan-v2.git
[submodule "pytorch_fid"]
	path = pytorch_fid
	url = https://github.com/mseitzer/pytorch-fid.git
[submodule "pytorch-fid"]
	path = pytorch-fid
	url = https://github.com/mseitzer/pytorch-fid.git
[submodule "InNOutRobustness"]
	path = InNOutRobustness
	url = https://github.com/M4xim4l/InNOutRobustness.git
[submodule "GOOD"]
	path = GOOD
	url = https://gitlab.com/Bitterwolf/GOOD.git
